@page "/"

<PageTitle>Dynamic Support Types Demo</PageTitle>

<h1>Dynamic Support Types Demo</h1>

@*<div style="margin-left: 20px">
    <h1>Dynamic Support Types Demo</h1>
    <br />

    <h2>Follwing have not been implemented yet</h2>
    <br />

    <ul>
        <li>Multi-select options</li>
        <li>Branching</li>
        <li>Matching</li>
    </ul>
</div>*@