@using DynamicForms.Core.Entities

<MudContainer>
    <h3>Support Type Questions</h3>
    <!-- need a button for 'Add Question' -->

    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="AddQuestion">Add Question</MudButton>

    <!-- every time Add Question is clicked, need to show another NewQuestionDetails component-->
    @foreach (var question in NewQuestions)
    {
        <!-- need to pass down a DTO by reference so that it can be updated by the component itself? -->
        <div>
            
            <!-- add a callback function to remove the newquestiondetails component from the list? -->
            <NewQuestionDetails Question="@question"></NewQuestionDetails>
        </div>
    }
</MudContainer>

@code {
    public List<Question> NewQuestions { get; set; } = new();

    public void AddQuestion()
    {
        NewQuestions.Add(new Question());
    }

    public void RemoveQuestion(Question question)
    {
        NewQuestions.Remove(question);
    }
}